.button,
#generate-button,
.copy-button {
  text-align: center;
  font-size: 1em;
  border: none;
  background-color: #ff5722;
  margin: 0.5em 1.5em;
  padding: 10px;
  color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
#output-ipsum p {
  font-size: 1.2em;
  line-height: 1.28;
  max-width: 30em;
  margin-bottom: 1.2em;
}
.single {
  text-align: center;
  font-size: 4.7em;
  letter-spacing: 1px;
}
.copy-button {
  color: #fff;
}
.copy-button svg {
  width: 1.3em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.copy-button svg g {
  stroke: #fff;
  stroke-width: 3.5;
}
.copy-button.zeroclipboard-is-hover {
  background-color: #ff794e;
}
.copy-button.zeroclipboard-is-active {
  background-color: #ff5722;
}
