@font-face
  font-family Sauced-Typewriter-Regular
  src url(../assets/fonts/Sauced-Typewriter-Regular.ttf)
  src url(../assets/fonts/Sauced-Typewriter-Regular.woff)
  
body
  font-family Sauced-Typewriter-Regular
  text-rendering optimizeLegibility !important;
  -webkit-font-smoothing antialiased !important;