<div class="container">
  <h1>Copy animation test</h1>
  <button id="copyButton">Psuedo Copy</button>
  <div id="copyConfirmation" >
  Copied!
</div>
<p id="text" class="">

  Bbq wings cheezy loaded with tater tots wings cheezy jalapeno egg rolls. Sour cream ribs cornbread egg rolls your choice of baked beans chives loaded with. Your choice of jumbo bacon chopped bumpkins hushpuppies cornbread rednexican nachos hushpuppies your choice of black beans. Lightly tossed tater tots chives southern ranch bacon jalapeno cornbread chives Sauced bbq bumpkins. Southern jam baked beans jumbo chives spirits lightly tossed.
  </p>
</div>

