
#generate-button
  @extend .button
  min-width 200px
  
.controls input[type="number"]
  font-size 2em
  padding .25em
  width 2.5em
  margin-right 1em
  
.controls input[type="radio"]
  font-size 1.4em
  
.controls
  margin-bottom 1.5 em
  padding-bottom .4em
  border-bottom 1px solid #c
  
  label
    margin-right 1em