#intro
  baackground #3
  margin 10vh 0 2em
  transition all .5s ease-out
  
  h1
    text-align center
    font-size 6em
    transition all 200ms ease-out
    margin-bottom .25em
    
  p
    opacity 1
    transition all .5s ease-out

#intro.collapse
  
  h1
    text-align left
    font-size: 1.2em
  
  p
    opacity 0
    