.copy-button
   @extend .button
   color #f
   
   svg
     width 1.3em
     display inline-block
     vertical-align middle
     margin-right 1rem
     
     g
      stroke #fff 
      stroke-width 3.5    
   
   &.zeroclipboard-is-hover { background-color: $theme-orange + 20%; }
   &.zeroclipboard-is-active { background-color: $theme-orange;}